	<!-- Create COMMENT-->
			<%= form_tag(comments_path, remote: true) do %>
	      <div class="form-group">
	        <%= label_tag 'Content' %>
	        <%= text_area_tag :content, nil, class: 'form-control' %>
	      </div>
      <%= hidden_field_tag :post_id, post_id %>
      <%= submit_tag 'Save comment', class: 'btn btn-success' %>

    <% end %>