<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<% @posts.each do |post| %>
				<h6><%= post.title %></h6>
				<p><%= post.description %></p>
				<p><%= link_to "Show", post_path(post) %> </p>

				<% if current_user && admin? %>
					<p><%= link_to "Edit", edit_post_path(post) %> </p>
					<p><%= link_to 'Delete', post_path(post), method: :delete , data: {confirm: 'Are you sure?'} %></p>
				<% end %>
			<% end %>
		</div>
	</div>
</div>