<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1>Admin panel</h1>
			<h2>List of users</h2>
			<table class="table">
				<tr>
					<td>Id</td>
					<td>Name</td>
					<td>Surname</td>
					<td>E-mail</td>
					<td>Departmant</td>
					<td>Year</td>
					<td>Date of birth</td>
					<td>User profile</td>
					<td>Edit user</td>
				</tr>
				<% @users.each do |t| %>
				 <tr>
				 		<td><%= t.id %></td>
				    <td><%= t.first_name %></td>
				    <td><%= t.last_name %></td>  
				    <td><%= t.email %></td>  
				    <td><%= t.department %></td>
				    <td><%= t.year %></td>
				    <td><%= t.date_of_birth %></td>
				    <td><%= link_to 'User profile', user_path(t) %> </td>
				    <td><%= link_to "Edit", edit_user_path(t) %> </td>
				  </tr>
			  <% end %>
			</table>
		</div>
	</div>
</div>
